body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.background-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* Fade transition effect */
  transition: background-image 0.8s ease-in-out, opacity 0.8s ease-in-out;
  opacity: 1;
}

.background-container.dark {
  background-image: url('https://res.cloudinary.com/dnxyeqknh/image/upload/v1738853862/swluloyfrhjpr2uciv0n.jpg');
}

.background-container.light {
  background-image: url('https://res.cloudinary.com/dnxyeqknh/image/upload/v1738853965/gbivfllw01exsnoixe1b.jpg');
}

.custom-confirm {
  font-family: "MuseoModerno", serif;
  background-color: rgb(226, 92, 92);
  border: 2px solid black;
  border-radius: 20px;
  padding: 10px;
  color: black;
  cursor: pointer;
  margin: 10px;
  font-size: 16px;
  justify-content: center;
}

.custom-cancel {
  font-family: "MuseoModerno", serif;
  background-color: rgb(90, 189, 90);
  border: 2px solid black;
  border-radius: 20px;
  padding: 10px;
  color: black;
  cursor: pointer;
  margin: 10px;
  font-size: 16px;
  justify-content: center;
}

.custom-confirm:hover {

  background-color: rgb(190, 54, 54);

}

.custom-cancel:hover {

  background-color: rgb(57, 128, 57);

}

.swal2-popup {
  border: 3px solid black;
  border-radius: 20px;
  color: black;
  
}

.fade-in {
  opacity: 0;
  transform: translateY(10px);
  animation: fadeInAnimation 0.5s ease-out forwards;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}