
body {
  background-image: url('https://thumbs.dreamstime.com/z/sport-eignung-funktionsausbildungsgekritzelikonen-artmuster-des-hintergrundes-nahtloses-d%C3%BCnne-schwarzweiss-linie-der-144855081.jpg?ct=jpeg');
  background-position: center;
  background-size: fit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "MuseoModerno", serif;
  min-height: 100vh;
  min-height: 100vh;
  text-align: center;
  color: black;
  
}
* {
  text-decoration: none;
}

.nav {
  color: white;
  font-family: "MuseoModerno", serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes swipeUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Apply the animation */
.swipe-up {
  animation: swipeUp 0.5s ease-out forwards;
}

@keyframes swipeRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Apply the animation */
.swipe-right {
  animation: swipeRight 0.5s ease-out forwards;
}

.fade-in {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

