
body {
  background-image: url('https://thumbs.dreamstime.com/z/sport-eignung-funktionsausbildungsgekritzelikonen-artmuster-des-hintergrundes-nahtloses-d%C3%BCnne-schwarzweiss-linie-der-144855081.jpg?ct=jpeg');
  background-position: center;
  background-size: fit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "MuseoModerno", serif;
  min-height: 100vh;
  min-height: 100vh;
  text-align: center;
  color: black;
  
}
* {
  text-decoration: none;
}

.nav {
  color: white;
  font-family: "MuseoModerno", serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


